html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
}

textarea{
  margin: 1rem;
}
